/* Racing Sans One + inter + public sans  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Racing+Sans+One&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


:root {
    --primary-color: #13072E;
    --secondary-color: #B3AAFF;
    --icon-color: #EFA9FA;
}

body {
    font-family: "Public Sans", sans-serif;
    /* font-family: "Inter", sans-serif; */
    /* font-family: "Racing Sans One", sans-serif; */
}


/* navbar */
.navbar-container {
    /* visibility: hidden; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    color: #ffffff;
}

.logo-box h4 {
    font-size: 20px;
}

#first-letter-logo {
    font-size: 30px;
    color: var(--icon-color);
}

.navlinks a {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
}

.navlinks a::after {
    content: '';
    height: 2px;
    width: 0;
    background-color: #EFA9FA;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: all .3s ease-in-out;
}

.navlinks a:hover::after,
.navlinks a:focus::after {
    width: 100%;

}

.active-navlinks {
    color: var(--secondary-color) !important;
}

.active-navlinks::before {
    content: '';
    height: 2px;
    width: 100%;
    background-color: #EFA9FA;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: all .3s ease-in-out;
}

.home-container {
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: var(--primary-color);

}

#experience {
    height: 100vh;
    background-color: #13072E;
}