/* Racing Sans One + inter + public sans  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Racing+Sans+One&display=swap');


/* poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


:root {
    --primary-color: #13072E;
    --secondary-color: #B3AAFF;
    --icon-color: #EFA9FA;
}
html{
    padding: 0;
}

body {
    background-color: #13072E !important;
    font-family: "Public Sans", sans-serif;
    /* font-family: "Inter", sans-serif; */
    /* font-family: "Racing Sans One", sans-serif; */
}

::-webkit-scrollbar {
    display: none;
}


/* navbar */
.navbar-container {
    /* visibility: hidden; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    color: #ffffff;
    background-color: var(--primary-color);
    z-index: 99;
}
.row{
    padding: 0;
    margin: 0;
}

.logo-box a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 5px;
}

#first-letter-logo {
    font-size: 30px;
    color: var(--icon-color);
}

.navlinks a {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    cursor: pointer;
}

.navlinks a::after {
    content: '';
    height: 2px;
    width: 0;
    background-color: #EFA9FA;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: all .3s ease-in-out;
    pointer-events: none;
}

.navlinks a:hover::after,
.navlinks a:focus::after {
    width: 100%;

}

.active-navlinks {
    color: var(--secondary-color) !important;
}

.active-navlinks::before {
    content: '';
    height: 2px;
    width: 100%;
    background-color: #EFA9FA;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: all .3s ease-in-out;
}

/* home */

.home-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    background: url(images/bgHome.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--primary-color);
    font-family: "Poppins", sans-serif;
    padding-left: 150px;
}

.home-container h6 {
    padding-top: 100px;
    max-width: 700px;
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
    text-shadow: 2px 2px 10px var(--icon-color);
}

.home-container h1 {
    max-width: 700px;
    font-size: 50px;
    font-weight: 700;
    color: #ffffff;
}

.home-container q {
    max-width: 530px;
    color: #ffffff;
}

#home-stack {
    color: #B3AAFF;
}


/* project count */
.project-count-box {
    background: linear-gradient(135deg, #B3AAFF, #EFA9FA);
    color: #13072E;
    width: 250px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 2px 2px 20px #EFA9FA;
}

.project-count-box h2 {
    position: relative;
    font-weight: 700;
}

.project-count-box h2::after {
    content: "";
    height: 2px;
    width: 100%;
    background-color: #13072E;
    position: absolute;
    left: 0;
    bottom: -8px;


}

.project-count-box h6 {
    font-weight: 700;
}


/* about */
#about {
    background-color: #13072E;
    color: #ffffff;
}

.about-header h2 {
    color: #B3AAFF;
    font-size: 2rem;
}

.about-header p {
    text-align: justify;
    font-size: 1.4rem;
}

.sub-heading {
    /* font-family: "Kanit", sans-serif; */
    /* font-family: "Space Grotesk", sans-serif; */
    font-family: "Racing Sans One", sans-serif;
    font-size: 40px;
    color: #EFA9FA;
    text-shadow: 1px 1px 1px red;
}

.about-btn {
    width: 300px;
    height: 50px;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 20px;
    background: linear-gradient(135deg, #6a5afb, #e450fb);
    /* box-shadow: 2px 2px 5px #EFA9FA; */
    transition: all .3s ease-in-out;
}

.about-btn a {
    text-decoration: none;
    color: #13072E;
    font-size: 18px;
    font-weight: 700;
}

.about-btn:hover {
    scale: .9;
}

.about-btn:focus {
    background: linear-gradient(135deg, #402afe, #e12bfd);
    /* box-shadow: 2px 2px 5px #EFA9FA; */
}

.about-profile-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-image-about {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    background: linear-gradient(135deg, #402afe, #e12bfd);
}


/* qualification */
.qualification-container {
    position: relative;
    width: 100vw;
    padding-top: 100px;
    overflow: hidden;

}

.qualification-header {
    padding: 10px 50px;
}

.qualification-box {
    padding: 10px 50px;
    position: relative;
    width: 50%;
    color: #ffffff;
}


.qualification-bottom {
    padding: 20px 30px;
    background: linear-gradient(3600deg, #13072E, #3f2182);
    position: relative;
    border-radius: 10px;
    font-size: 20px;
}

.qualification-bottom p {
    color: #B3AAFF;
    font-size: 15px;
}

.qualification-box img {
    position: absolute;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    right: -25px;
    top: 32px;
    z-index: 10px;
}

.left-qualification-box {
    left: 0;
}

.right-qualification-box {
    left: 50%;
}

.right-qualification-box img {
    left: -25px;
}

.qualification-container::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: #e9e9e9;
    top: 100px;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    /* animation: moveline 6s linear forwards; */
}

/* animation for the vertical line of timeline in qualification and experience */
/* @keyframes moveline {
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    }
    
} */

.center-qualification-box h2 {
    font-size: 5rem;
    padding: 10px;
    height: auto;
    background-color: #13072E;
    /* border-bottom: 5px solid #e9e9e9; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-conatiner-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #3f2182;
    right: -15px;
}

.right-conatiner-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #3f2182;
    left: -15px;
}

@media only screen and (max-width: 600px) {
    .navbar-container {
        visibility: hidden;
        display: none;
    }
    .home-container {
        display: none;
    }
    #about{
        padding: 0;
        margin: 0;
    }    
}


/* project */
.projects-container{
    width: 100vw;
}
.project-box{
    background: linear-gradient(0deg, #13072E, #3f2182);
    /* box-shadow: 2px 2px 5px #B3AAFF; */
    border-radius: 20px;
    /* overflow: hidden; */
    padding: 0px 10px;
}

.project-image{
    width: 200px;
    width: 200px;
    object-fit: cover;
}



.project-description-box h3{
    font-weight: 700;
    font-size: 20px;
    color: #13072E;
}
.project-description-box a{
    font-size: 14px;
    text-decoration: none;
    color: #606060;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    gap: 5px;
}
.project-description-box p{
    font-weight: 700;
    font-size: 12px;
    text-align: justify;
    color: #a5a5a5;
}

.project-language{
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 12px;
    background-color: #13072E;
    color: #ffffff;
    transition: .3s ease-in-out;
    cursor: pointer;
}

.project-language:hover{
   scale: .9;
}